
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">Census App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink ='/arealist' routerLinkActive ='active'>Area</a>
          </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink ='/addarea' routerLinkActive ='active'>ADD Area</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link"  routerLink="/enumerator" *ngIf="_auth.loggedinAdmin()"routerLinkActive ='active'>User Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/survey" *ngIf="_auth.loggedinUser()" routerLinkActive ='active'>Survey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/report" *ngIf="_auth.loggedinAdmin()" routerLinkActive ='active'>Report</a>
        </li>
      </ul> 
        <ul class="navbar-nav">
          <a class="nav-link"  routerLink="/login" *ngIf="!_auth.loggedIn()"  routerLinkActive ='active'>Login</a>
          <a class="nav-link" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="logoutUser()">Logout</a>
        </ul>
      
     
    </div>
  
  </nav>
  <div class="container">
  <router-outlet></router-outlet>
  </div>
  